name: Gitleaks Scan

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  gitleaks:
    runs-on: agent-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: zricethezav/gitleaks-action@v2
